attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
boto==2.49.0
cffi==1.15.0
colored==1.4.3
constantly==15.1.0
coverage==6.2
cryptography==36.0.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
lsi==0.4.0
mock==4.0.3
numpy==1.20.1
pcaspy==0.7.3
pycparser==2.21
six==1.15.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing_extensions==4.0.1
zope.interface==5.4.0
